// ===========================================================
// ROOT
// ===========================================================

  :root {
    
    --color1: #f1f1f1;

    --color2: #d4d9dd;
    --color3: #bbb6b6;
    --color4: #424246;
    --color5: #212121;
    --background1: #222831;
    --background2: #16054a;
    
    --color6: #e7eaf5;
      
  }



// ===========================================================
// END ROOT
// ===========================================================
