doctype

html
  head
    title BETA Fobiya
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='Demo')
    meta(name='keywords', content='Demo')
    link(rel='icon', type='static/ico', href='favicon.ico')

    
  body <!--(data-img="img/1.png")-->
    //bar-long
    .bar-long
    //END bar-long
    
    header
      .menu
        .container
          .row
            .col.m12.s12.l3.xl3
           
            .col.m12.s12.l4.xl3.mobail
              a.anim-button
                span
                span
                span

            .col.m12.s12.l9.xl9
              ul.menu__ul
                li
                  a.scroll(href="#" target="_blank") Lorem ipsum dolor.
                li
                  a.scroll(href="#") Lorem ipsum dolor.
                li
                  a.scroll(href="#") Lorem ipsum dolor.
                li
                  a.scroll(href="#") Lorem ipsum dolor.
                li
                  a.scroll(href="#") Lorem ipsum dolor.
                  
      .container
        .row
          .col.m12.s12.l12.xl6
            H1 Lfgfgfg
            h2 disjdkjk
              span dsds 
            p.sabtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fugiat a eaque ipsum, harum maxime amet aut perferendis rerum recusandae.
            p.sabtitle Lorem ipsu.
            
          .col.m12.s12.l12.xl6
            .block__form
              form(method='POST', action='javascript:void(null);')
                // Hidden Required Fields
                input(type='hidden', name='project_name', value='demo project_name')
                input(type='hidden', name='admin_email', value='demo@gmail.com')
                input(type='hidden', name='form_subject', value='demo form_subject')
                .form_input
                  span.field
                    input.ferstname(type='text', name='ferstname', required='', value='', placeholder='Name')
                .form_input
                  span.field.phone1
                    input.phone(type='tel', name='phone', required='', value='', placeholder='Phone')
                .form_input
                  span.field
                    input.mail(type='email', name='email', required='', value='', placeholder='Email')
                button.blue(type='submit', name='send') SEND
                

    section.section__1
      .container
        .row
          .col.m12.s12.l12.xl6
            h2 Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fugiat a eaque ipsum, harum maxime amet aut perferendis rerum recusandae.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fugiat a eaque ipsum, harum maxime amet aut perferendis rerum recusandae.
            p.last Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fugiat a eaque ipsum, harum maxime amet aut perferendis rerum recusandae.

              
  
    footer
      .container
        .row
          .col.m6.s12.l6.xl3
            .block



//script(src='//code.jquery.com/jquery-3.2.1.min.js')
//
//script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/jquery.inputmask.js')
//
//script(src='//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')

    




    