doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/logo.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')

  body.info(data-img='img/1.png')

    .bar-long
    
    .scroll__menu.none
      .container

    
    .right__menu
      .bock__top
        a.close(href='javascript:;')
          img.logo__img(src='img/close.svg', alt='logo_black')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    

                
                
    header.account
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(src='img/logo.svg', alt='logo_black')
 

          
    section#sec-1.section__1
      video#video_1( playsinline='', autoplay='', muted='', loop='', preload='none')
        source(src='video/background.mp4', type='video/mp4')
      .container
        .row
          .col.m12.s12.l12.xl12
            img(src='img/logo.png', alt='logo_black')
          
    section#sec-2.section__2
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 @splidejs/splide
            #post__slid.splide
              .splide__track
                ul.splide__list
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')
                  li.splide__slide
                    img(src='img/logo.svg', alt='logo_brand_1')

            .logo_before
          
    section#sec-3.section__3
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 section__3
            .logo_svg
            img.lazy__(data-src='img/logo.svg', alt='logo_brand_1')
    section#sec-4.section__4
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 section__4
            .logo_40
          
    section#sec-5.section__5
      .container
        .row
          .col.m12.s12.l12.xl12
            h2 section__5

  
  
          
    section.section__.event__1
      .container
        .row
          .col.m12.s12.l12.xl12
            ul.top
              li(data-top='1')
                a.active(href='javascript:;') Account detals
              li(data-top='2')
                a(href='javascript:;') MY ITEMS
              li(data-top='3')
                a(href='javascript:;') QI LIBRARY




                  
    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send
          
          
          
    a.bot_modal(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send




    //script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      // console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });

        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });

      });


