// ===========================================================
// Media
// ===========================================================

@mixin wid($size) {
   @if $size == 1800 {
    @media (min-width: 1800px) { @content; content: '1800px > ';  }
  } @else if $size == 1500-1799 {
    @media (min-width: 1500px) and (max-width: 1799px) { @content;  content: '1500-1799'; }
  } @else if $size == 1500 {
    @media (min-width: 1500px) { @content; content: '1500px > ';  }
  } @else if $size == 1200-1499 {
    @media (min-width: 1200px) and (max-width: 1499px) { @content;  content: '1200-1499'; }
  } @else if $size == 1200 {
    @media (min-width: 1200px) { @content;  content: '1200 > ';  }
  } @else if $size == 992-1199 {
    @media (min-width: 992px) and (max-width: 1199px) { @content; content: '992-1199'; }
  } @else if $size == 1401 {
    @media (min-width: 1401px) { @content; content: '1401 > ';  }
  } @else if $size == 1301 {
    @media (min-width: 1301px) { @content; content: '1301 > ';  }
  } @else if $size == 992-1300 {
    @media (min-width: 992px) and (max-width: 1130px) { @content; content: '992-1300';  }
  } @else if $size == 992{
    @media (min-width: 992px) { @content; content: '992 > ';  }
  } @else if $size == 991 {
    @media (max-width: 991px) { @content; content: '991 < '; }
  } @else if $size == 601-991 {
    @media (min-width: 601px) and (max-width: 991px) { @content; content: '601-991'; }
  } @else if $size == 601 {
    @media (min-width: 601px) { @content; content: '600 > '; }
  } @else if $size == 600 {
    @media (max-width: 600px) { @content; content: '600 < '; }
  }@else if $size == 500 {
    @media (max-width: 500px) { @content; content: '500 > '; }
  }@else if $size == 450 {
    @media (max-width: 450px) { @content; content: '450 > '; }
  }@else if $size == 400 {
    @media (max-width: 400px) { @content; content: '400 > '; }
  }@else if $size == 350 {
    @media (max-width: 350px) { @content; content: '350 > '; }
  }
}

// ===========================================================
// END Media
// ===========================================================




// =========================================================== 
// FORMAS 
// =========================================================== 



// ===========================================================
// END ALL INFORMATION
// ===========================================================


.error, [type=checkbox].error ~ .checkbox-on:after, option.error {
  border-bottom: 2px solid rgba(255, 0, 0, 1) !important;
//  box-shadow: inset   0 0 25px   rgba(255, 0, 0, .4) !important;

//   border-radius: 10px !important;
//   box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5) !important;
//   text-shadow: -1px -1px #aa3030 !important;
  
//  position: relative;
  


}
.field.border_dashed{
//    border: 3px dashed rgba(255, 0, 48, 0.61) ;
}
.border_dashed:before{
//   content: "" ;
//   display: block ;
//   border: 3px dashed rgba(255, 0, 48, 0.61) ;
//   text-shadow: -1px -1px rgba(170, 48, 48, 0.83) !important;



//    border-radius: 4px;


//    position: absolute ;
    
 
//    width: 100%;
//    height: 100%;
//    pointer-events: none !important;
  
  
  }

[type=checkbox].error ~ .allert {
  display: none;
}



// LABEL ===========================================================


//label {
//  position: relative;
//  display: block;
//
//  &:after {
//    content: "";
//    display: block;
//    float: left;
//    margin-right: 10px;
//    margin-top: 1px;
//    width: 20px;
//    height: 20px;
//    cursor: pointer;
//    background: #fff;
//    position: absolute;
//    top: 0;
//    left: 0;
//    border: 1px solid rgba(70, 36, 159, 0.6);
//    box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.08);
//    border-radius: 3px;
//  }
//
//  &.errore:after {
//    content: "";
//    display: block;
//    float: left;
//    margin-right: 10px;
//    margin-top: 1px;
//    width: 20px;
//    height: 20px;
//    cursor: pointer;
//    background: #fff;
//    position: absolute;
//    top: 0;
//    left: 0;
//    border: 1px solid #ff0000;
//    border-radius: 3px;
//  }
//}


// INPUT ===========================================================

input {
  margin-bottom: 18px;
  color: #000;
	
  font:  18px/1.2em var(--g) Arial !important;

  &::placeholder {
//    text-shadow: 0 0 15px rgba(22, 5, 74, 0.51);
      color: #9F9F9F;
    transition: opacity 0.3s ease;
    
  font:  18px/1.2em var(--g) Arial !important;
  }

  &:focus::placeholder {
    color: #9F9F9F;
    transition: opacity 0.3s ease;
  }





    border: none;
    border: 1px solid #EAEBF2;
    border-radius: 76px;


    display: block;
    width: 100%;
    height: 100%;
    max-height: 62px;
    padding: 16px 25px;

    background-color: #FFFFFF;
    background-image: transparent;


    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    box-sizing: border-box;
    outline: none;
}


// TEXTAREA ===========================================================

textarea {
  
    resize: none;

    margin-bottom: 18px;
    width: 100%;
    height: 176px;
    padding: 16px 25px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 25px;

    border-bottom: 0px solid #082640;

    color: #000;
    font:  18px/1.2em var(--g);

  &::placeholder {
    //    text-shadow: 0 0 15px rgba(22, 5, 74, 0.51);
    color: #9F9F9F;
    transition: opacity 0.3s ease;
    font:  18px/1.2em var(--g);
  }

  &:focus::placeholder {
    color: #000 ;
    color: #9F9F9F;
    transition: opacity 0.3s ease;
    font:  18px/1.2em var(--g);
  }
}


// SELECT ===========================================================

select {

    
  &::-ms-expand {
    /* for IE 11 */
    display: none;
  }
	
    margin-bottom: 18px;

  
    appearance: none;

    border: 0px solid transparent;
    
    border: none;
    border: 0px solid #FFFFFF;
    border-radius: 76px;
  
    display: block;
    width: 100%;
    height: 100%;
  
  max-height: 62px;
  padding: 16px 35px 16px 25px;
  
  
  

    background-color: #FFFFFF;
//    background: #FFFFFF url(../img/checkout_arrow.svg) no-repeat center right 30px;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    box-sizing: border-box;
    outline: none;
    
//    box-shadow: 0 0 0 3px #dce4f0 !important;
  

      color: #9F9F9F;
    transition: opacity 0.3s ease;
    
  font:  18px/1.2em var(--g);

      &::placeholder {
    //    text-shadow: 0 0 15px rgba(22, 5, 74, 0.51);
          color: #000;
        transition: opacity 0.3s ease;
        
  font:  18px/1.2em var(--g);
      }
    
    &:focus {
            color: #000;
	
   font:  18px/1.2em var(--g);
    }
  
	
	&:active {
        color: #000;
	
     font:  18px/1.2em var(--g);
      transition: opacity 0.3s ease;

//      box-shadow: 0 10px 20px #dce4f0;
	}
    
    &[disabled], &:disabled{
      opacity: 0.4;
      cursor: not-allowed;
            color: #303030 !important;
      transition: opacity 0.3s ease;

//      box-shadow: 0 10px 20px #dce4f0;
    }

    // we use invalid like a placeholder
    // 2019-03-05 added not selector for firefox and ie
    &:not(:focus):invalid {
//       text-shadow: 0 0 15px rgba(22, 5, 74, 0.51);
//      color: #f00;
      

      color: #303030 !important;
      transition: opacity 0.3s ease;
      
//      box-shadow: 0 10px 20px #dce4f0; 

    }
  

	
	&:hover {
		color: #000;
//		box-shadow: 0 0 10px #000;

	}


	&>option {
      border: none;
       width: 100%;
       height: 100%;
       max-height: 35px;

       background-color: #c0c0c0;

      box-sizing: border-box;
      outline: none;



      box-sizing:border-box;
      overflow:hidden;
      white-space:nowrap;

	}

	& option:hover {
	
	}

	&:focus option {
		position:relative;
		// pointer-events:all;
    
    background: #f00;
		
//     color: #fff !important;
	
//  font: 100 16px/1.3em Roboto;
	}
}


// RADIO ===========================================================



[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
//  pointer-events: none;
//  opacity: 0;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
//    padding-left: 28px;
    cursor: pointer;
//    line-height: 20px;
//    display: inline-block;
    color: #9F9F9F;
  font: 18px/1.2em var(--g);
    white-space: nowrap;
  
 @extend %flex;
justify-content: flex-start !important;

   border-radius: 76px;
 
    width: 100%;
    height: 100%;
    max-height: 62px;
    height: 62px;
    padding: 20px 25px;
  
  background: #fff;
  margin-bottom: 18px;
  
}

[type="radio"]:checked + label{
  color: #424F44;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
     @extend %bef-aft;
//    position: absolute;
//    left: 0;
//    top: 0;
  

    width: 27px !important;
    height: 27px  !important;
  min-width: 27px  !important;
    border: 5px solid #E5DDD0;
    border-radius: 100%;
    background: #E5DDD0;
  
  margin-right: 20px;

  
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    @extend %bef-aft;
  
    width: 27px!important;
    height: 27px!important;
    min-width: 27px!important;
    border: 9px solid #b68742;
    border-radius: 100%;
    background: #fff;
    margin-right: 20px;

    transition: all 0.2s ease;
  position: absolute !important;
  
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;

    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;

    transform: scale(1);
}



// checkbox ===========================================================


      input[type="checkbox"] {
        background: #ffffff;
        border-radius: 4px;
        width: 25px;
        max-width: 25px;
        min-width: 25px;
        height: 25px;
        appearance: none;
        margin-right: 10px;
        position: relative;
        cursor: pointer;
        
        float: left;
        
        @include wid(600) {
//          max-width: 21px;
//          height: 21px;
        }
        &:checked {
          &::after {
            content: '';
//            background: #b68742 url('../img/affiliate-program/check.svg');
            background: #b68742;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 4px;
            width: 25px;
            height: 25px;
            position: absolute;
            
            top: 0;
          }
        }
      }



// checkbox ===========================================================

    input[type="file"] {


    }



// =========================================================== 
// END FORMAS 
// =========================================================== 

