// =========================================================== 
// FONTS style
// =========================================================== 

  @import "@option__";
//  @import "font";

// =========================================================== 
// END FONTS style
// =========================================================== 



// =========================================================== 
// Scroll BAR
// =========================================================== 

  .bar-long {
    height: 4px;
    width: 0;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
//    box-shadow: 0 0 15px rgba(255, 255, 255, 0.66); 
  }

// =========================================================== 
// Scroll BAR
// =========================================================== 




html {
    scroll-behavior: smooth;
}

html {
    line-height: 1em;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    @media only screen and (max-width: 299px) {
        height: 100vh;
        width: 100vw;
    }
}




*:active,
*:focus {
    outline: 0;
    outline-offset: 0;
}

*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder {
    opacity: 1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


input::-ms-clear{
	display:none;
	width:0;
	height:0;
}

input::-ms-reveal{
	display:none;
	width:0;
	height:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul,ol{
    li:last-child{
        padding-bottom: 0 !important;
        margin-bottom: 0 !important; 
    }
}

img,*:before,*:after{
  pointer-events: none;
}

span{
    display: block;
    position: relative;
}

.overflow{
    overflow: hidden !important;
}
.cursor{
    cursor: pointer;
}

[class*="see"] {
    display: block;
}

.none {
    display: none !important;
}



a,
button,
select {
    outline: none !important;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

input,
textarea {
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button:hover {
    cursor: pointer;
}

a,
button,
input,
textarea,i {
    text-decoration: none;
    outline: 0;
    border: 0;
    transition: all .4s ease !important;
}

a,
button {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: 0;
}





// =========================================================== 
// Visual Display
// =========================================================== 

  @media only screen and (min-width: 1200px) {
      .fullpc {
          display: block !important;
      }
  }

  @media only screen and (max-width: 992px) and (min-width: 300px) {
      .mob {
          display: block !important;
      }
      .fmob {
          display: flex !important;
      }
      br {
          display: none;
      }
  }

  @media only screen and (min-width: 993px) {
      .pc {
          display: block !important;
      }
      .fpc {
          display: flex !important;
      }
  }


  @media only screen and (max-width: 992px) {
      .decktop,.fdecktop{
          display: none  !important;
      }
      .mobail{
          display: block  !important;
      }
      .fmobail{
          display: flex!important;
      }
  }

  @media only screen and (min-width: 993px) {
      .decktop{
           display: block !important;
      }
      .fdecktop{
           display: flex !important;
      }
      .mobail,.fmobail{
          display: none  !important;
      }
  }

// =========================================================== 
// END Visual Display
// =========================================================== 



[class*="section__"],
section,
footer,
header{
    position: relative;
    padding: 80px 0;
    /* @media only screen and (min-width: 993px) {
         padding: 36px 0;
     } */
    @media only screen and (max-width: 992px) and (min-width: 601px) {
        padding: 50px 0;
    }
    @media only screen and (max-width: 600px) {
        padding: 30px 0;
    }
}











// =========================================================== 
// FORMAS 
// =========================================================== 


    form {
      max-width: 430px;
      width: 100%;
      margin: 0 auto;
    }

    input {
      margin-bottom: 30px;

//      font: 20px $m !important;
      color: #000 !important;

      &::placeholder {
        color: #00305b !important;
        transition: opacity 0.3s ease;
//        font: 20px $m !important;
      }

      &:focus {
        &::placeholder {
          color: #000 !important;
          transition: opacity 0.3s ease;
        }
      }
    }

    label.margin-bottom {
      margin-bottom: 5px !important;
    }

    label.checkbox-on {
      cursor: pointer;
    }

    [type="checkbox"] {
      border-radius: 2px;
      box-shadow: 0px 0px 0px 1px rgba(70, 36, 159, 0.6);
    }

    [type="checkbox"].errore {
      box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 1);
    }


    textarea {
      width: 100%;
      height: 200px;
      padding: 16px 20px;
      margin-bottom: 35px;
      background: #ffffff;
      border: 1px solid #000000;
      box-sizing: border-box;

      //       font: 14px $S !important;
      &::placeholder {
        color: #303030 !important;
        opacity: 1;
        transition: opacity 0.3s ease;
        vertical-align: bottom;
      }
      &:focus {
        &::placeholder {
          color: #303030 !important;
          transition: opacity 0.3s ease;
        }
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }

    input[type="checkbox"]:checked ~ label > .label {
      display: block;
    }

    input[type="checkbox"]:checked + label:before {
      width: 20px;
      height: 20px;
      font-size: 35px;
      color: #000;

      position: absolute;
      left: 3px;
      top: -6px;
      cursor: pointer;
    }

    input[type="checkbox"]:checked + label:before {
      width: 20px;
      height: 20px;
      font-size: 35px;
      color: #000;
      position: absolute;
      left: 3px;
      top: -6px;
      cursor: pointer;
      z-index: 11;
    }

    label {
      position: relative;
      display: block;
      
      &:after {
        content: "";
        display: block;
        float: left;
        margin-right: 10px;
        margin-top: 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid rgba(70, 36, 159, 0.6);
        box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.08);
        border-radius: 3px;
      }
      
      &.errore:after {
        content: "";
        display: block;
        float: left;
        margin-right: 10px;
        margin-top: 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background: #fff;

        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #ff0000;
        border-radius: 3px;
      }
    }


    [type="checkbox"] {
      //  position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }

    .form_input {
      display: block;
      position: relative;

      span.allert {
        text-align: right;
        top: -22px;
        position: absolute;
        float: right;
        right: 0;
        color: #ff0000;
        //  font: 16px $S !important;

        background: rgba(255, 255, 255, 0.9);
        padding: 1px 5px;
        margin-right: 1px;
      }
    }

    select::-ms-expand {
      /* for IE 11 */
      display: none;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    select {
      //    font: 18px $S !important;
      color: #000 !important;
      background-color: #ffffff;
      border: none;
      border: 0px solid transparent;
      border-radius: 0px;
      display: block;
      width: 100%;
      height: 100%;
      max-height: 50px;
      padding: 13px 10px 13px 20px;
      margin-bottom: 20px;

      &:focus {
        border-bottom: 0px solid transparent;
      }

      option {
        background: #fff;
      }
    }

    [type="checkbox"],
    [type="radio"] {
      width: 20px;
      height: 20px;
      padding: 0 15px 0;
      background: #e3e3e3;
      font-size: 18px;
      margin-bottom: 0px;
      color: #7f7f7f;
      border: none;
      float: left;
      margin-right: 10px;
      margin-top: 2px;
    }

    input {
      border: none;
      border: 1px solid rgba(0, 48, 91, 0.96);
      border-radius: 0px;
      display: block;
      width: 100%;
      height: 100%;
      max-height: 50px;
      padding: 32.5px 20px;
      background-color: #ededed;
      background-image: transparent;
      transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
      box-sizing: border-box;
      outline: none;

      &:focus {
        //   border: 0px solid transparent ;
        //   border-bottom: 2px solid #46249F;
      }
    }

    .error,
    [type="checkbox"].error ~ .checkbox-on:after,
    option.error {
      border: 1px solid #d70606 !important;
      box-shadow: inset 0 0 15px rgba(255, 0, 0, 0.24);
    }
    [type="checkbox"].error ~ .allert {
      display: none;
    }


// =========================================================== 
// END FORMAS 
// =========================================================== 



/*   FORMAS DESIGNE   */


/* END  FORMAS DESIGNE   */